
body {
	font-family : "century gothic", "Lucida Sans Unicode", Arial;
}

h1{
	text-shadow: 1.5px 1.5px grey;
}

p{
	font-size: 18px;
}

/*header-menu */
#menu{
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0px;
	left: 0px;
	background: rgba(146, 22, 22, 1);
	text-align: center;
	color: white;
	line-height: 50px;
	font-size: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*screen div definition*/
#screen{
	position: absolute;
	margin-left: 100px;
	margin-right: 100px;
	top: 50px;
	left: 0px;
	z-index:-1;
}

#vasarlas{
	position: absolute;
	top: 50px;
	width: 1600px;
	left: 0px;
	border-collapse: collapse;
    border-spacing: 0;
}

th, td{
	border: 1px solid black;
	width: 300px;
}

.table_row{
	background-color: white;
}

.table_row:hover{
	background-color: red;
	color: white;
}

a {
	color: blue;
}
